@import '../fragments/variables.scss';

.card-search-results {
    position: absolute;
    width: 100%;
    max-height: calc(100vh - 200px);
    overflow-y: scroll;
    background: var(--main-colour-lighter);

    &__card-container {
        border-top: none;
        padding: 15px;
        cursor: pointer;

        &:hover {
            background-color: var(--alt-colour);
        }
    }

    &__card {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    &__card-name {
        align-self: center;
        color: var(--text-colour-main);
    }
}

.search-form-container {
    position: relative;
}

.card-search-input {
    width: 100%;
    padding: 10px 20px 10px 10px;
}