.btn-secondary {
    background-color: var(--alt-colour);
    border-color: var(--alt-colour);

    &:hover {
        background-color: var(--alt-colour-darker);
        border-color: var(--alt-colour-darker);
    }
}